
.contenedor {
    background-color: #E3C7C3;
    width: 90vw;
    height: 40vh; 
    margin: 100px auto; 
    border-radius: 10px;
    border: double 4px black;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
}


.imagen {
    width: 13vw; 
    height: auto;
    border-radius: 8px;
    
}


#divBroma {
    width: 60%; 
    min-height: 10vw;
    border-radius: 10px;
    border: double 4px black;
    background-color: white;
    font-size: 1.5em;
    border: 2px solid #333; 
    padding: 20px;  
    align-content: center;
    background-color: black;
    color: white;
    border: dotted;
}
button{

    width: 25vh;
    height: 8vw;
    background-color: salmon;

}
