
@font-face {
    font-family: 'Ringbearer';
    src: url('./fonts/RingbearerMedium.ttf') format('truetype');
  }
  
  .titulo{

place-items: center;


  }
  .fantasy3-text {
    font-family: 'Uncial Antiqua', serif;
    font-size: 2rem;
    color: yellow;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 2px;
  }

    
  .fantasy2-text {
    font-family: 'Uncial Antiqua', serif;
    font-size: 0.5rem;
    color: yellow;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 2px;
  }

    
  .fantasy1-text {
    font-family: 'Uncial Antiqua', serif;
    font-size: 1rem;
    color: yellow;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 2px;
  }

body{

    background-image: url('./images/1.webp'); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 

}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    padding-top: 0px;
  }
  
  .card {
    position: relative;
    width: 150px;
    height: 73px;
    background-image: url('./images/card-bg.jpg');
    background-size: cover;
    background-position: center;
    border: 3px solid yellow;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .card-overlay {
    color: yellow;
    text-align: center;
    font-family: 'Uncial Antiqua', serif; 
    text-shadow: 1px 1px 2px black;
  }
  
  .card-overlay h2 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 2px;
  }
  
  .card-overlay p {
    margin: 0.2rem 0 0;
    font-size: 0.8rem;
  }

  .card:active {
    transform: scale(1.08);
    box-shadow: 0 0 15px yellow;
  }
  
  .card-container .card:nth-child(1) {
    background-image: url('./images/1.webp');
  }
  
  .card-container .card:nth-child(2) {
    background-image: url('./images/2.webp');
  }
  
  .card-container .card:nth-child(3) {
    background-image: url('./images/3.webp');
  }
  
  .card-container .card:nth-child(4) {
    background-image: url('./images/4.webp');
  }
  
  .card-container .card:nth-child(5) {
    background-image: url('./images/5.webp');
  }
  
  
  