header {
    /* border-color: orange; */

    /* border-style: dashed; */
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(255, 255, 255), rgb(222, 219, 219));
}

.estrellas {
    font-size: 30px; /* Tamaño de las estrellas */
    color: #ff9900; /* Color dorado para las estrellas llenas */
}

.estrellas .far {
    color: #ccc; /* Color gris para las estrellas vacías */
}

.estrellas .fas {
    color: #ff9900; /* Color dorado para las estrellas llenas */
}

.estrellas .fa-star-half-alt {
    color: #ff9900; /* Color dorado para las estrellas medio llenas */
}

body {
    background: #efeff0;
    text-align: left;
  
 }

body, div, fieldset{
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
 }


 .cajabuscar {
     float: none;
     width: 100%;
     max-width: 453px;
     margin-bottom: 25px;
     margin-top: 29px;
     margin-left: auto;
     margin-right: auto;
     display: inline-block;
     text-align: left;
 }

 #buscarform {
     padding: 0;
     float: left;
     clear: both;
     width: 100%;
     position: relative;
 }
 #buscarform fieldset { float: left }

 #buscarform .search {
     font-size: 20px;
     top: 0px;
     color: #FFF;
     background: #000000;
     font-family: 'Circular', 'Montserrat', sans-serif;
     position: absolute;
     right: 0;
     top: 0;
     padding: 9px;
     height: 24px;
     width: 24px;
     text-align: center;
 }
 #buscarform fieldset { width: 100% }

 #s {
     width: 100%;
     background-color: #fff;
     float: left;
     padding: 8px 0;
     text-indent: 10px;
     color: #555555;
     border: 1px solid #fff; 
     box-sizing: border-box;
     height: 42px;
 }

 .button{
     right: 0;
     top: 0;
     padding: 9px 0;
     float: right;
     border: 0;
     width: 42px;
     height: 42px;
     cursor: pointer;
     text-align: center;
     padding-top: 10px;
     color: #a4a4a4;
     transition: all 0.25s linear;
     background: transparent;
     z-index: 10;
     position: absolute;
     border: 0;
     vertical-align: top;
 }

/* 💻 Escritorio (1024px o más) */
@media (min-width: 1024px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-family: 'Circular', 'Montserrat', sans-serif;
        margin-left: 30px;

    }


    .links{
        display: flex;
        gap:20px;
        font-family: 'Circular', 'Montserrat', sans-serif;
    }

    img{
        margin-top: 15px;
        width: 120px;
        margin-left: 10px;
        

    }

    .retrato{
        margin-top: 20px;
        width: 400px;
        margin-left: 20px;


    }

    .textobuscar{


            color: #000000;
            font-weight: bold;
            font-family: 'Circular', 'Montserrat', sans-serif;
            
    }

    .busquedadiv{


        color: #000000;
        font-weight: bold;
        font-family: 'Circular', 'Montserrat', sans-serif;
    

    }
}

/* 📏 Tablet (768px o más) */
@media (min-width: 769px) and (max-width: 1024px) {
    

    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-family: 'Circular', 'Montserrat', sans-serif;
        margin-left: 20px;

    }


    .links{
        display: flex;
        gap:25px;
    }

    .amazon_logo{

        width: 100px;
        

    }

    .retrato{
        margin-top: 20px;
        width: 400px;
        

    }
}


/* 📱 Móvil (hasta 768px) */
@media (max-width: 768px) { 
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-family: 'Circular', 'Montserrat', sans-serif;
        margin-left: 20px;
        font-size: small;

    }


    .links{
        display: flex;
        gap:25px;
    }

    .amazon_logo{

        width: 80px;
        

    }

    .retrato{
        margin-top: 20px;
        width: 150px;
        

    }

}
