/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
section{
/* border: 3px solid orange;   */
border-radius: 10px;
position: relative;

}
/* Estilos para Desktop */
@media (min-width: 1024px) {
    /* Aquí van los estilos específicos para dispositivos de escritorio */

    header{

        width: 100%;
        display: flex;
        align-items: center;
        
    }

    nav{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right:20px;
        padding-top: 5px;
        font-size:x-large;
        font-family: 'Circular', 'Montserrat', sans-serif;
        color: #1A1A1A;
    }

    .logospotify{

        padding-left:15px;
    }

    .landingimg{

    width: 100%;
    margin-top: 20px;

    }

    .overlay-texto {
        display: flex;
        justify-content: center;  /* Centra horizontalmente */
        align-items: center;      /* Centra verticalmente */
        color: whitesmoke; 
        font-size: 85px; 
        font-weight: bold; 
        position: absolute; /* se "apila" encima de la imagen */
        top: 0; left: 0; right: 0; bottom: 0;
        margin-top: -25%;
        text-align: center;
        align-items: center;
        font-family: 'Circular', 'Montserrat', sans-serif;
    }
    
    .overlay-texto2 {
        display: flex;
        justify-content: center;  /* Centra horizontalmente */
        align-items: center;      /* Centra verticalmente */
        color: whitesmoke; 
        font-size: 35px; 
        position: absolute; /* se "apila" encima de la imagen */
        top: 0; left: 0; right: 0; bottom: 0;
        text-align: center;
        align-items: center;
        font-family: 'Circular', 'Montserrat', sans-serif;
    }
    
    .logospotify{
    
        height: 60px;
    
    }

    h2{
        font-weight: bold; 
        font-family: 'Circular', 'Montserrat', sans-serif;
        border-bottom: 2px solid #00B172;; 
        padding-bottom: 5px; 
        display: inline-block;
        font-size: 30px;
        
    }

    h3 {
        font-weight: bold; 
        font-family: 'Circular', 'Montserrat', sans-serif;
        border-bottom: 2px solid white;
        padding-bottom: 5px; 
        display: inline-block;
        font-size: 32px;
        color: white;
        text-align: left;
       margin-left: 10%;
    }
    
    .textos-kanye {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Asegurar alineación a la izquierda */
   
    }

    .div2 {
        display: flex;
        align-items: center; /* Alinea verticalmente todo el contenido */
        justify-content: space-between; /* Separa el texto de la imagen */
        gap: 30px;
        background-color: #00B172;
    }

    .spotify-kanye {
        width: 30%; /* Ajusta el tamaño de la imagen */
        height: auto;
        margin: auto;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    div{
    padding-top: 10px;
    text-align: center;

    }
    content {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        text-align: center;
        /* border: 3px solid orange;  */
        border-radius: 10px;
    }
        content div {
        width: 65%;
        padding: 50px;
        /* border: 2px solid green; */
        border-radius: 5px;
        
    }

    content img {
        width: 160px; /* Ajusta el tamaño de los íconos */
      
    }
    
    content p {
        font-size: 24px;
        color: #00B172;
        font-weight: bold;
        font-family: 'Circular', 'Montserrat', sans-serif;
        
        
       
    }

    content p2 {
        font-size: 21px;
        color: black;
        font-weight: bold;
        font-family: 'Circular', 'Montserrat', sans-serif;
        
    }

    .texto7{
        margin-left: 10%;
        font-weight: bold; 
        font-family: 'Circular', 'Montserrat', sans-serif;
        font-size: 30px;
        color: white;
        
        
    }
    .texto8{
        width: 30%;
        font-size: 20px;
        margin-left: 10%;
        font-family: 'Circular', 'Montserrat', sans-serif;
        color: white;
        text-align: left;
        
    }
    .texto9{

        font-size: 30px;
        margin-left: 10%;
        display: inline-block;
        font-weight: bold; 
        font-family: 'Circular', 'Montserrat', sans-serif;
        font-size: 30px;
        color: white;
      
    }
    .texto10{
        width: 30%;
        font-size: 20px;
        margin-left: 10%;
        font-family: 'Circular', 'Montserrat', sans-serif;
        color: white;
        text-align: left;
    }

    .texto11{

        font-size: 30px;
        margin-left: 10%;
        display: inline-block;
        font-weight: bold; 
        font-family: 'Circular', 'Montserrat', sans-serif;
        font-size: 30px;
        color: white;
        
    }
    .texto12{
        font-size: 20px;
        margin-left: 10%;
        font-family: 'Circular', 'Montserrat', sans-serif;
        color: white;
        padding-bottom: 50px;
        width: 30%;
        text-align: left;
    }

        .spotify-kanye {
            width: 30%; /* Ajusta el tamaño de la imagen */
            height: auto;
            margin-right: 7%;
        }
    
    

}


  /* Estilos para Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Aquí van los estilos específicos para tabletas */

    header{

        width: 100%;
        display: flex;
        align-items: center;
        
    }

    nav{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right:20px;
    }

    .logospotify{

        padding-left:10px;
    }


    .landingimg{

    width: 100%;
    margin-top: 20px;

    }

    .overlay-texto {
        display: flex;
        justify-content: center;  /* Centra horizontalmente */
        align-items: center;      /* Centra verticalmente */
        color: whitesmoke; 
        font-size: 85px; 
        font-weight: bold; 
        position: absolute; /* se "apila" encima de la imagen */
        top: 0; left: 0; right: 0; bottom: 0;
        margin-top: -25%;
        text-align: center;
        align-items: center;
        z-index: 10;              /* Asegura que el texto quede por encima de la imagen */
        font-family: 'Circular', 'Montserrat', sans-serif;
    }
    
    .overlay-texto2 {
        display: flex;
        justify-content: center;  /* Centra horizontalmente */
        align-items: center;      /* Centra verticalmente */
        color: whitesmoke; 
        font-size: 35px; 
        position: absolute; /* se "apila" encima de la imagen */
        top: 0; left: 0; right: 0; bottom: 0;
        text-align: center;
        align-items: center;
        z-index: 10;              /* Asegura que el texto quede por encima de la imagen */
        font-family: 'Circular', 'Montserrat', sans-serif;
    }
    
    .logospotify{
    
        height: 50px;
    
    }

    h2{
        font-weight: bold; 
        text-align: center; 
        font-family: 'Circular', 'Montserrat', sans-serif;
        
    }

    .texto7{
        margin-left: 60px;
        font-weight: bold; 
        font-family: 'Circular', 'Montserrat', sans-serif;
        font-size: 30px;
        color: white;
        
    }
    .texto8{
        width: 30%;
        font-size: 20px;
        margin-left: 60px;
        font-family: 'Circular', 'Montserrat', sans-serif;
        color: white;
        
    }
    .texto9{

        font-size: 30px;
        margin-left: 60px;
        display: inline-block;
        font-weight: bold; 
        font-family: 'Circular', 'Montserrat', sans-serif;
        font-size: 30px;
        color: white;
    }
    .texto10{
        width: 30%;
        font-size: 20px;
        margin-left: 60px;
        font-family: 'Circular', 'Montserrat', sans-serif;
        color: white;
    }

    .texto11{

        font-size: 30px;
        margin-left: 60px;
        display: inline-block;
        font-weight: bold; 
        font-family: 'Circular', 'Montserrat', sans-serif;
        font-size: 30px;
        color: white;
        
    }
    .texto12{
        font-size: 20px;
        margin-left: 60px;
        font-family: 'Circular', 'Montserrat', sans-serif;
        color: white;
        padding-bottom: 50px;
        width: 30%;


    }

    

    
}

  /* Estilos para Móvil */
/* @media (max-width: 767px) { */
    /* Aquí van los estilos específicos para dispositivos móviles */

/* Estilos para Mobile 320px */
@media (max-width: 768px) {
    /* Header: logo y nav en columna */
    header {
        width: 100%;
        display: flex;
        flex-direction: column; /* Apila logo y nav */
        align-items: center;
        padding: 10px;
    }

    /* Nav: en una sola línea debajo del logo y centrado */
    nav {
        width: 100%;
        display: flex;
        justify-content: center; /* Centra los elementos del nav */
        font-size: medium; /* Tamaño de fuente adecuado para móvil */
        font-family: 'Circular', 'Montserrat', sans-serif;
        color: #1a1a1a;
    }

    nav ul {

        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 5%;
        align-items: center;
        font-size: large;
        padding-right: 6%;
    }

    .logospotify {
        height: 40px; /* Logo más pequeño para móvil */
        padding-right: 5%;
    }

    .landingimg {
        width: 100%;
        margin-top: 10px;
    }

    /* Ajuste de las superposiciones sobre la imagen */
    .overlay-texto {
        display: flex;
        justify-content: center;  /* Centra horizontalmente */
        align-items: center;      /* Centra verticalmente */
        color: whitesmoke; 
        font-size: 25px; /*Reduce el tamaño para móvil */
        font-weight: bold; 
        position: absolute; /* se "apila" encima de la imagen */
        top: 0; left: 0; right: 0; bottom: 0;
        margin-top: -25%;
        text-align: center;
        align-items: center;
        z-index: 10;              /* Asegura que el texto quede por encima de la imagen */
        font-family: 'Circular', 'Montserrat', sans-serif;
    }
    
    .overlay-texto2 {
        display: flex;
        justify-content: center;  /* Centra horizontalmente */
        align-items: center;      /* Centra verticalmente */
        color: whitesmoke; 
        font-size: 10px; /*Reduce el tamaño para móvil */
        position: absolute; /* se "apila" encima de la imagen */
        top: 0; left: 0; right: 0; bottom: 0;
        text-align: center;
        align-items: center;
        z-index: 10;              /* Asegura que el texto quede por encima de la imagen */
        font-family: 'Circular', 'Montserrat', sans-serif;
    }
    
    /* Título h2 ajustado para móvil */
    h2 {
        font-weight: bold; 
        font-family: 'Circular', 'Montserrat', sans-serif;
        border-bottom: 2px solid #00B172;
        padding-bottom: 5px; 
        display: inline-block;
        font-size: 19px; /* Tamaño reducido para móvil */
        text-align: center;
    }

    div {
        padding-top: 10px;
        text-align: center;
    }

    /* Content: iconos en columna, uno debajo del otro */
    content {
        display: flex;
        flex-direction: column;  /* Cambia a columna para apilar los divs */
        align-items: center;
        text-align: center;
        border-radius: 10px;
    }
    
    content div {
        width: 90%; /* Ocupa más ancho en móvil */
        padding: 20px; /* Reduce el padding */
        border-radius: 5px;
    }

    content img {
        width: 100px; /* Iconos más pequeños para móvil */
    }
    
    content p {
        font-size: 18
        px; /* Tamaño de texto reducido */
        color: #00B172;
        font-weight: bold;
        font-family: 'Circular', 'Montserrat', sans-serif;
    }

    content p2 {
        font-size: 15px;
        color: black;
        font-weight: bold;
        font-family: 'Circular', 'Montserrat', sans-serif;
    }

    .texto7{
        margin-left: 30px;
        font-weight: bold; 
        font-family: 'Circular', 'Montserrat', sans-serif;
        font-size: 30px;
        color: white;
        
    }
    .texto8{
        width: 30%;
        font-size: 15px;
        margin-left: 30px;
        font-family: 'Circular', 'Montserrat', sans-serif;
        color: white;
        
    }
    .texto9{

        font-size: 25px;
        margin-left: 30px;
        display: inline-block;
        font-weight: bold; 
        font-family: 'Circular', 'Montserrat', sans-serif;
        font-size: 30px;
        color: white;
    }
    .texto10{
        width: 30%;
        font-size: 15px;
        margin-left: 30px;
        font-family: 'Circular', 'Montserrat', sans-serif;
        color: white;
    }

    .texto11{

        font-size: 25px;
        margin-left: 30px;
        display: inline-block;
        font-weight: bold; 
        font-family: 'Circular', 'Montserrat', sans-serif;
        font-size: 30px;
        color: white;
        
    }
    .texto12{
        font-size: 15px;
        margin-left: 30px;
        font-family: 'Circular', 'Montserrat', sans-serif;
        color: white;
        padding-bottom: 50px;
        width: 30%;


    }

    h3{
        font-weight: bold; 
        font-family: 'Circular', 'Montserrat', sans-serif;
        border-bottom: 2px solid white;
        padding-bottom: 5px; 
        display: inline-block;
        font-size: 25px;
        color: white;
        text-align: left;
        /* margin-left: 30px; */
        /* margin-top: 60px; */
    }
    .div2{

        background-color: #00B172;
        text-align: left;
        
    }
    div{
    padding-top: 10px;
    text-align: center;
    }

    .spotify-kanye{

        width: 50%;
        

    }
}
